<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%# FONT AWESOME LINK %>

  <script src="https://kit.fontawesome.com/93f049fe77.js" crossorigin="anonymous"></script>

  <%# BOOTSTRAP CSS & JS LINK %>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

 <%# FONTS %>

  <%# Poppins Google Font %>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  </style>

  <%# Inter Google Font %>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  </style>
  <title>Document</title>
</head>
<body>

<%# Navbar Section %>
   <section class="navbar-section">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark "style="text-align: center; background-color: #f4f4f4">
        <div class="container-fluid">
        <a class="navbar-brand" style="color: white; font-family: Inter, sans-serif; font-weight: 500">Hannah Francis.</a>
         <%# <%=link_to "Hannah Francis.", homepage_path, :class => "navbar-brand"%> %>
          <button class="navbar-toggler bg-dark"type="button" data-bs-toggle="collapse"data-bs-target="#navbarNav"aria-controls="navbarNav"aria-expanded="false"aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"style="justify-content: end"id="navbarNav">
            <ul class="navbar-nav"style="font-family: Poppins, sans-serif; font-weight: 200;">
              <%=link_to "Home", homepage_path, :class => "nav-item"%>
              <%=link_to "Projects", projects_path, :class => "nav-item"%>
              <%=link_to "Resume", about_path, :class => "nav-item"%>
              <%=link_to "About", about_path, :class => "nav-item"%>
              <%=link_to "Contact", contact_path, :class => "nav-item"%>
            </ul>
          </div>
        </div>
      </nav>
    </section>

<%# Section One %>

<section class="Section-One">
  <div class="section-one-about-container">
    <div class="heading-container-two">
      <div class="heading-container-description">
        <h1>Hey I'm Hannah</h1>
        <h5>A creative UI Designer & Frontend Developer based in London</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien et sodales ultricies turpis in. Aliquam molestie pulvinar vitae non elementum at.</p>
      </div>
      <div class="heading-image-container">
        <%= image_tag 'selfie.svg', :class => "selfie-image"%>
      </div>
    </div>
  </div>
</section>


<%# Skills Section %>

<section class="Skills-section">
<div class="skills-section-container">
<div class="inner">
    <div class="header">
        <h1>My Skills</h1>
      </div>
      <div class="container">
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <%= image_tag "html.png", :class => "skills-icon" %>
            </div>
            <p>HTML 5</p>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <%= image_tag "css.png", :style=>'width:35px;', :class => "skills-icon" %>
            </div>
            <p>CSS</p>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <%= image_tag "rails.png", :class => "skills-icon" %>
            </div>
            <p>Ruby On Rails</p>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <%= image_tag "sass.webp", :class => "skills-icon" %>
            </div>
            <p>Sass</p>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <%= image_tag "figma.svg", :style=>'width:30px;', :class => "skills-icon" %>
            </div>
            <p>Figma</p>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <%= image_tag "xd.png", :class => "skills-icon" %>
            </div>
            <p>Adobe XD</p>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <%= image_tag "illustrator.png", :class => "skills-icon" %>
            </div>
            <p>Illustrator</p>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <%= image_tag "after-effects.png", :class => "skills-icon" %>
            </div>
            <p>After Effects</p>
          </div>
        </div>
        <div class="skill-box">
          <div class="skill-title">
            <div class="img">
              <%= image_tag "premiere-pro.png", :class => "skills-icon" %>
            </div>
            <p>Premiere Pro</p>
          </div>
        </div>
      </div>
    </div>
</div>
</section>

<%# Project Cards %>

  <section class="Project-section">
    <div class="card-container">

<%# Project One Card %>

      <div class="card-product">
        <div class="card-image-div">
          <%= image_tag "halfway-iphone-image.svg", :class => "card-image" %>
        </div>
        <div class="card-product-infos">
          <h1>Halfway</h1>
          <p>
            A web app that returns the halfway meeting point between two addresses and lists the different venue options depending on which filters the user has chosen such as Coffee, Drinks etc.
          </p>
          <div class="button-div">
            <a href="https://www.halfway.fun" target="_blank">View Project</a>
            <a href="https://github.com/sachimp/halfway" target="_blank">View Code</a>
         </div>
        </div>
      </div>

      <%# Project Two Card %>

      <div class="card-product">
        <div class="card-image-div">
          <%= image_tag "coach-guru.png", :class => "card-image"%>
        </div>
        <div class="card-product-infos">
          <h1>Coach Guru </h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia nobis
            odio, atque eum eveniet repellat molestias corporis temporibus
            pariatur voluptate.
          </p>
          <div class="button-div">
            <%=link_to "View Project", coach_guru_path, :target => "_blank", :class => "nav-item"%>
            <a href="https://github.com/hcfrancis/Coach-Guru" target="_blank">View Code</a>
         </div>
        </div>
      </div>

      <%# Project Three Card %>

      <div class="card-product">
        <div class="card-image-div">
          <%= image_tag "puregym.jpg", :class => "card-image"%>
        </div>
        <div class="card-product-infos">
          <h1>PureGym</h1>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia nobis
            odio, atque eum eveniet repellat molestias corporis temporibus
            pariatur voluptate.
          </p>
          <div class="button-div">
            <a href="https://velvety-belekoy-ff0ec5.netlify.app/" target="_blank">View Project</a>
            <a href="https://github.com/hcfrancis/Puregym-Newsletter" target="_blank">View Code</a>
         </div>
        </div>
      </div>
    </div>
  </section>

<%# Footer Section %>

<section class="Footer-Section">
  <div class="footer">
   <div class="footer-copyright">
      © Hannah Francis 2022
    </div>
    <div class="footer-links">
      <a href="https://github.com/hcfrancis" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/thehanfran"target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/hannah-francis-578441174/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</section>
</body>
</html>
