<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%# FONT AWESOME LINK %>

  <script src="https://kit.fontawesome.com/93f049fe77.js" crossorigin="anonymous"></script>

  <%# BOOTSTRAP CSS & JS LINK %>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

 <%# FONTS %>

  <%# Poppins Google Font %>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  </style>

  <%# Inter Google Font %>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  </style>
  <title>Document</title>
</head>
<body>

   <section class="navbar-section">
      <nav class="navbar navbar-expand-lg navbar-light bg-dark "style="text-align: center; background-color: #f4f4f4">
        <div class="container-fluid">
        <a class="navbar-brand" style="color: white; font-family: Inter, sans-serif; font-weight: 500">Hannah Francis.</a>
         <%# <%=link_to "Hannah Francis.", homepage_path, :class => "navbar-brand"%> %>
          <button class="navbar-toggler bg-light"type="button" data-bs-toggle="collapse"data-bs-target="#navbarNav"aria-controls="navbarNav"aria-expanded="false"aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse"style="justify-content: end"id="navbarNav">
            <ul class="navbar-nav"style="font-family: Poppins, sans-serif; font-weight: 200;">
              <%=link_to "Home", homepage_path, :class => "nav-item"%>
              <%=link_to "Projects", projects_path, :class => "nav-item"%>
              <a href="https://drive.google.com/file/d/1KuE_6icviuw1YiTXaQ7E6VX0RGHgQ3VD/view?usp=sharing" class="nav-item">Resume</a>
              <%=link_to "About", about_path, :class => "nav-item"%>
              <%=link_to "Contact", contact_path, :class => "nav-item"%>
            </ul>
          </div>
        </div>
      </nav>
    </section>

    <%# About Section %>

    <section class="About-Section">
      <div class="about-section-container">
        <div class="about-section-heading-container">
          <div class="about-section-heading-container-info">
            <h1>My Story</h1>
            <p>In the summer of 2019, I graduated university with a degree in Film Studies. I relentlessly spent my time applying for video editor jobs in the hope of one day becoming a documentary video editor, however I felt so defeated as it seemed almost impossible to break into the industry. One day, I vividly remember applying for a job that required HTML skills.</p>
            <p>Puzzled as to what ‘HTML’ even was I scoured google for answers. That day I went down the rabbit hole of coding and became fixated. Day by day I began developing my knowledge about coding and the Tech industry. I decided to pause searching for video editor jobs and explore this new found interest - or should I say obsession.</p>
            <p>I’ve now graduated from the Le Wagon coding bootcamp where I learned HTML, CSS, Bootstrap, JavaScript ES6, SQL, git, GitHub, Heroku and Ruby on Rails. Designed, implemented and shipped to production a clone of AirBnB and a Rails prototype of Halfway - an app that returns the midpoint between two addresses.</p>
         </div>
            <div class="about-section-image-container">
              <%= image_tag 'me.png', :class => "coding-girl-image"%>
            </div>
        </div>
      </div>
    </section>

<%# Section Three %>

<!-- <section class="Section Three">
  <div class="section-three-container">
    <div class="section-three-heading-container">
      <div class="section-three-heading-container-info text-center">
        <h1>Side Projects</h1>
        <p>Check out some of my most recent side projects that I've worked on!</p>
      </div>
    <div class="cards-container">
      <div class="card" style="width: 20rem;">
        <%= image_tag 'image.jpg'%>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 20rem;">
        <%= image_tag 'image.jpg'%>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    </div>
  </div>
</section> -->

<%# Footer Section %>

<section class="Footer-Section">
  <div class="footer">
   <div class="footer-copyright">
      © Hannah Francis 2022
    </div>
    <div class="footer-links">
      <a href="https://github.com/hcfrancis" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/thehanfran"target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/hannah-francis-578441174/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</section>

</body>
</html>
